
html{
    scroll-behavior: smooth;
}
body{
    background: rgba(27, 145, 23, 0.726);
    margin: 0;
    font-family: 'Inter', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 5px;
    position: sticky;
    top: 0;
    background: rgb(27, 145, 23);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navUl{
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
/* wybiera tylko te li, które mają wśród przodków .navUl */
.navUl li{
    margin-left:10px;
}

.headerBody{
    text-align: center;
}
img{
    max-width: 80%;
}
h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}
.headerBody p{
    padding: 0 15%;
}
h2{
    margin-bottom: 0;
}
main, article{
max-width: 1200px;
margin:1px;
padding: 1rem;
}
footer{
    background-color: black;
    padding: 2vw 5vw;
    color: white;
    display:flex;
    justify-content: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: inherit;
}
#Start, #Projekty, #Kontakt{
    padding-top: calc(1.5rem+30px);
}
/* wyświetlanie border przy rozdzielczosci mniejszej niz 768px */
label, #toggler{
    display:none;
}
/* hamburger */
@media (max-width:768px) {
    .navUl{
        /*border: 2px dashed blue;*/
        display: none;
        position: absolute;
        right: 0;
        top: calc(30px + 1.5rem);
        padding: 1rem 1rem 1rem 0;
        background: rgb(27, 145, 23);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    label{
        display: flex;
    }
    #toggler:checked ~ .navUl{
        display: block;
    }
}
