

body{
    background: rgba(27, 145, 23, 0.747);
    font-family: 'Encode Sans Condensed', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px;
}
.navUl{
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
/* wybierz tylko te li, które mają wśród prdzodków .navUl */
.navUl li{
    margin-left:10px;
}

.headerBody{
    text-align: center;
}
img{
    max-width: 80%;
}
h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}
.headerBody p{
    padding: 0 15%;
}
h2{
    margin-bottom: 0;
}
main, article{
border: 2px dashed red;
max-width: 1200px;
margin:auto;
padding: 3rem;
}
footer{
    background-color: black;
    padding: 2vw 5vw;
    color: white;
    display:flex;
    justify-content: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: inherit;
}